{% extends '../base.html' %}
{% load static %}

{% block content %}

{% include '../shopbase/header.html' %}

<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="{% static 'img/shop/bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="page-title">
          <h1 class="title">Checkout</h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Checkout</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

<!-- Checkout Section Start -->
<div class="section section-padding">
  <div class="container">

    <div class="section-title2 text-center">
      <h2 class="title">Your order</h2>
    </div>

    <div class="row learts-mb-n30">
      <div class="col-lg-6 learts-mb-30">
        <div class="row">
          <div class="col-md-6 col-12 learts-mb-20">
            <h4>Billing information</h4>
            <br>
            <p><b>Name:       </b>{{order.billing_firstName}}</p>
            <p><b>Surname:    </b>{{order.billing_lastName}}</p>
            <p><b>Phone:      </b>{{order.billing_phone}}</p>
            <p><b>Email:      </b>{{order.billing_email}}</p>
            <p><b>Address:    </b>{{order.billing_address}}</p>
            <p><b>Address2:   </b>{{order.billing_address2}}</p>
            <p><b>Town:       </b>{{order.billing_town}}</p>
            <p><b>State:      </b>{{order.billing_state}}</p>
            <p><b>Country:    </b>{{order.billing_country}}</p>
            <p><b>PostalCode: </b>{{order.billing_postalCode}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 learts-mb-30">
        <div class="row">
          <div class="col-md-6 col-12 learts-mb-20">
            <h4>Shipping information</h4>
            <br>
            <p><b>Name:       </b>{{order.shipping_firstName}}</p>
            <p><b>Surname:    </b>{{order.shipping_lastName}}</p>
            <p><b>Phone:      </b>{{order.shipping_phone}}</p>
            <p><b>Email:      </b>{{order.shipping_email}}</p>
            <p><b>Address:    </b>{{order.shipping_address}}</p>
            <p><b>Address2:   </b>{{order.shipping_address2}}</p>
            <p><b>Town:       </b>{{order.shipping_town}}</p>
            <p><b>State:      </b>{{order.shipping_state}}</p>
            <p><b>Country:    </b>{{order.shipping_country}}</p>
            <p><b>PostalCode: </b>{{order.shipping_postalCode}}</p>
          </div>>
        </div>
      </div>
    </div>

    <div class="row learts-mb-n30">
      <div class="col-lg-6 learts-mb-30">

        <div class="order-review">
          <div class="text-center">
            <h4>Order details</h4>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th class="name">Product</th>
                <th class="total">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              {% for cartitem in cart %}
              {% with product=cartitem.product %}
              <tr>
                <td class="name">{{ product.getTitle }}&nbsp; <strong class="quantity">×&nbsp;{{ cartitem.quantity }}</strong></td>
                <td class="total"><span>{{cartitem.total_price|floatformat:2}} &euro;</span></td>
              </tr>
              {% endwith %}
              {% endfor %}
            </tbody>
            <tfoot>
              <tr class="subtotal">
                <th>Subtotal</th>
                <td><span>{{ cart.get_total_price|floatformat:2 }} &euro;</span></td>
              </tr>
              <tr class="total">
                <th>Total</th>
                <td><strong><span>{{ cart.get_total_price|floatformat:2 }} &euro;</span></strong></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="text-center">
          <p class="payment-note">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
          <button class="btn btn-dark btn-outline-hover-dark">place order</button>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- Checkout Section End -->

{% include '../base/footer2.html' %}

{% endblock %}
