{% extends 'leni/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="box">

      <div class="col-lg-12 text-center">
        <hr>
	<h2 class="intro-text text-center">{{obj.title}}</h2><br>
        <hr>
      </div>

      <div class="col-lg-4 text-center">
	<img class="img-responsive center-block" src="/{{obj.photo.url}}" alt="Image not available!">
        <br>
	<p>SKU: {{obj.id}}</p>
	<p>Price: {{obj.price}} Euro</p>
	<p>
	  {% if obj.quantity == 1 %}
	  <p style="color: grey;">Only {{obj.quantity}} left</p>
	  {% elif obj.quantity == 0 %}
	  <p style="color: grey;">Out of stock</p>
	  {% endif %}
	</p>

	{% if obj.featured %}
	<strong style="color: red;">Featured</strong>
	{% endif%}

	{% if request.user.is_superuser %}
	<form action="/admin/products/product/{{ obj.id }}/change/" target="_blank" >
	  <input type="submit" value="Edit" />
	</form>
	{% endif %}

      </div>

      <div class="col-lg-8 text-justify">
	<strong>{{obj.brief}}</strong>
	<br><br>
	<p>{{obj.description}}</p>
	<br>

	{% if obj.isGroup %}
	<p>Group: {{obj.group.value}}</p>
	{% endif%}

	{% if obj.isMetal %}
	<p>
	  Material: {{obj.metal.value}}

	  {% if obj.isPlatting %}
	  with {{obj.platting.value}} platting
	  {% endif%}

	  {% if obj.macrame %}
	  and macrame
	  {% endif%}
	</p>
	{% else %}

	{% if obj.macrame %}
	<p>Material: Macrame</p>
	{% endif%}

	{% endif%}

      </div>

      <div class="col-lg-12 text-center">
	<form action="{{ obj.getRandomObject.get_absolute_url }}">
	  <input type="submit" value="Random" />
	</form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
