{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Title -->
    {% if webpage_name is Null %}
    <title>Leniko</title>
    {% else %}
    <title>Leniko | {{webpage_name}}</title>
    {% endif %}

    <meta name="robots" content="noindex, follow" />

    <!-- Description -->
    <meta name="description" content="{{webpage_description}}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- CSS ============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome-pro.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/customFonts.css' %}">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/photoswipe-default-skin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="{% static 'assets/css/vendor/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}"> -->

</head>

<body>

    {% block content %}

    {% include './homebase/topbar.html' %}
    {% include './homebase/header.html' %}
    {% include './homebase/slider.html' %}

    {% include './homebase/saleBanner.html' %}
    {% include './homebase/categoryBanner.html' %}

    {% include './homebase/productsSection.html' %}
    {% include './homebase/modal.html' %}
    {% include './homebase/footer1.html' %}

    {% endblock %}

    <!-- JS ============================================ -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.1.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/mo.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.instagramFeed.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/photoswipe.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ResizeSensor.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/product360.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollax.min.js' %}"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <script src="{% static 'assets/js/vendor/vendor.min.js' %}"></script>
         <script src="{% static 'assets/js/plugins/plugins.min.js' %}"></script> -->

    <!-- Main Activation JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
