{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Title -->
    {% if webpage_name is Null %}
    <title>Leniko</title>
    {% else %}
    <title>Leniko | {{webpage_name}}</title>
    {% endif %}

    <meta name="robots" content="noindex, follow" />

    <!-- Description -->
    <meta name="description" content="{{webpage_description}}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- CSS ============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome-pro.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/customFonts.css' %}">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/photoswipe-default-skin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="{% static 'assets/css/vendor/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}"> -->

</head>

<body>

    {% block content %}

    {% include './shopbase/header.html' %}
    {% include './shopbase/breadcrumbs.html' %}
    {% include './shopbase/productFilters.html' %}
    {% include './shopbase/footer2.html' %}

    {% include './base/modal.html' %}

    {% endblock %}


    <!-- Modal -->
    <div class="quickViewModal modal fade" id="quickViewModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button class="close" data-dismiss="modal">&times;</button>
                <div class="row learts-mb-n30">

                    <!-- Product Images Start -->
                    <div class="col-lg-6 col-12 learts-mb-30">
                        <div class="product-images">
                            <div class="product-gallery-slider-quickview">
                                <div class="product-zoom" data-image="{% static 'assets/images/product/single/1/product-zoom-1.jpg' %}">
                                    <img src="{% static 'assets/images/product/single/1/product-1.jpg' %}" alt="">
                                </div>
                                <div class="product-zoom" data-image="{% static 'assets/images/product/single/1/product-zoom-2.jpg' %}">
                                    <img src="{% static 'assets/images/product/single/1/product-2.jpg' %}" alt="">
                                </div>
                                <div class="product-zoom" data-image="{% static 'assets/images/product/single/1/product-zoom-3.jpg' %}">
                                    <img src="{% static 'assets/images/product/single/1/product-3.jpg' %}" alt="">
                                </div>
                                <div class="product-zoom" data-image="{% static 'assets/images/product/single/1/product-zoom-4.jpg' %}">
                                    <img src="{% static 'assets/images/product/single/1/product-4.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Images End -->

                    <!-- Product Summery Start -->
                    <div class="col-lg-6 col-12 overflow-hidden learts-mb-30">
                        <div class="product-summery customScroll">
                            <div class="product-ratings">
                                <span class="star-rating">
                                <span class="rating-active" style="width: 100%;">ratings</span>
                                </span>
                                <a href="#reviews" class="review-link">(<span class="count">3</span> customer reviews)</a>
                            </div>
                            <h3 class="product-title">Cleaning Dustpan & Brush</h3>
                            <div class="product-price">£38.00 – £50.00</div>
                            <div class="product-description">
                                <p>Easy clip-on handle – Hold the brush and dustpan together for storage; the dustpan edge is serrated to allow easy scraping off the hair without entanglement. High-quality bristles – no burr damage, no scratches, thick and durable, comfortable to remove dust and smaller particles.</p>
                            </div>
                            <div class="product-variations">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="label"><span>Size</span></td>
                                            <td class="value">
                                                <div class="product-sizes">
                                                    <a href="#">Large</a>
                                                    <a href="#">Medium</a>
                                                    <a href="#">Small</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Color</span></td>
                                            <td class="value">
                                                <div class="product-colors">
                                                    <a href="#" data-bg-color="#000000"></a>
                                                    <a href="#" data-bg-color="#ffffff"></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Quantity</span></td>
                                            <td class="value">
                                                <div class="product-quantity">
                                                    <span class="qty-btn minus"><i class="ti-minus"></i></span>
                                                    <input type="text" class="input-qty" value="1">
                                                    <span class="qty-btn plus"><i class="ti-plus"></i></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="product-buttons">
                                <a href="#" class="btn btn-icon btn-outline-body btn-hover-dark"><i class="fal fa-heart"></i></a>
                                <a href="#" class="btn btn-dark btn-outline-hover-dark"><i class="fal fa-shopping-cart"></i> Add to Cart</a>
                                <a href="#" class="btn btn-icon btn-outline-body btn-hover-dark"><i class="fal fa-random"></i></a>
                            </div>
                            <div class="product-brands">
                                <span class="title">Brands</span>
                                <div class="brands">
                                    <a href="#"><img src="{% static 'assets/images/brands/brand-3.png' %}" alt=""></a>
                                    <a href="#"><img src="{% static 'assets/images/brands/brand-8.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="product-meta mb-0">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="label"><span>SKU</span></td>
                                            <td class="value">0404019</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Width</span></td>
                                            <td class="value">32</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Macrame</span></td>
                                            <td class="value">Yes</td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Category</span></td>
                                            <td class="value">
                                                <ul class="product-category">
                                                    <li><a href="#">Bracelet</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Tags</span></td>
                                            <td class="value">
                                                <ul class="product-tags">
                                                    <li><a href="#">handmade</a></li>
                                                    <li><a href="#">learts</a></li>
                                                    <li><a href="#">mug</a></li>
                                                    <li><a href="#">product</a></li>
                                                    <li><a href="#">learts</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"><span>Share on</span></td>
                                            <td class="va">
                                                <div class="product-share">
                                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Title"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                                    <a href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}&media=&description=Title"><i class="fab fa-pinterest"></i></a>
                                                    <a href="mailto:info@example.com?&subject=&body={{ request.build_absolute_uri }} Title"><i class="fal fa-envelope"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Product Summery End -->

                </div>
            </div>
        </div>
    </div>

    <!-- JS ============================================ -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.1.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/mo.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.instagramFeed.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/photoswipe.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ResizeSensor.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/product360.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollax.min.js' %}"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <script src="{% static 'assets/js/vendor/vendor.min.js' %}"></script>
         <script src="{% static 'assets/js/plugins/plugins.min.js' %}"></script> -->

    <!-- Main Activation JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
