{% load static %}

<!-- Category Banner Section Start -->
<div class="section section-fluid section-padding pt-0">
  <div class="container">
    <div class="category-banner1-carousel">

      <div class="col">
        <div class="category-banner2">
          <div class="inner">
            <!-- 525x280 -->
            <a href="/product" class="image"><img src="{% static 'img/home/banner/525x280.jpg' %}" alt=""></a>
            <div class="content">
              <h3 class="title">
                <a href="/product">Bracelets</a>
                <span class="number">?</span>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="category-banner2">
          <div class="inner">
            <!-- 525x280 -->
            <a href="/product" class="image"><img src="{% static 'img/home/banner/525x280.jpg' %}" alt=""></a>
            <div class="content">
              <h3 class="title">
                <a href="/product">Macrame</a>
                <span class="number">?</span>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="category-banner2">
          <div class="inner">
            <!-- 525x280 -->
            <a href="/product" class="image"><img src="{% static 'img/home/banner/525x280.jpg' %}" alt=""></a>
            <div class="content">
              <h3 class="title">
                <a href="/product">Unique</a>
                <span class="number">?</span>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="category-banner2">
          <div class="inner">
            <!-- 525x280 -->
            <a href="/product" class="image"><img src="{% static 'img/home/banner/525x280.jpg' %}" alt=""></a>
            <div class="content">
              <h3 class="title">
                <a href="/product">Earrings</a>
                <span class="number">?</span>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="category-banner2">
          <div class="inner">
            <a href="/product" class="image"><img src="{% static 'images/banner/category/banner-s1-5.jpg' %}" alt=""></a>
            <div class="content">
              <h3 class="title">
                <a href="/product">Rings</a>
                <span class="number">?</span>
              </h3>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Category Banner Section End -->
