{% load static %}

<!-- Contact Form Section Start -->
<div class="section section-padding pt-0">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section-title2 text-center">
      <h2 class="title">Send a message</h2>
    </div>
    <!-- Section Title End -->

    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <div class="contact-form">
          <form action="{% static 'php/contact-mail.php' %}" id="contact-form" method="post">
            <div class="row learts-mb-n30">
              <div class="col-md-6 col-12 learts-mb-30"><input type="text" placeholder="Your Name *" name="name"></div>
              <div class="col-md-6 col-12 learts-mb-30"><input type="email" placeholder="Email *" name="email"></div>
              <div class="col-12 learts-mb-30"><textarea name="message" placeholder="Message"></textarea></div>
              <div class="col-12 text-center learts-mb-30"><button class="btn btn-dark btn-outline-hover-dark">Submit</button></div>
            </div>
          </form>
          <p class="form-messege"></p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Contact Form Section End -->
