<!-- Contact Information & Map Section Start -->
<div class="section section-padding">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section-title2 text-center">
      <h2 class="title">Keep in touch with us</h2>
      <p>Been tearing your hair out to find the perfect gift for your loved ones? Try visiting our nationwide local stores. You can also contact us to become partner or distributor. Call us, send us an email or make an appointment now.</p>
    </div>
    <!-- Section Title End -->

    <!-- Contact Information Start -->
    <div class="row learts-mb-n30">
      <div class="col-lg-4 col-md-6 col-12 learts-mb-30">
        <div class="contact-info">
          <h4 class="title">ADDRESS</h4>
          <span class="info"><i class="icon fal fa-map-marker-alt"></i> {{config.ADDRESS}} <br>{{config.CITY}} <br> {{config.POSTAL_CODE}}</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 learts-mb-30">
        <div class="contact-info">
          <h4 class="title">CONTACT</h4>
          <span class="info"><i class="icon fal fa-phone-alt"></i> Phone: {{config.PHONE}}</span>
          <span class="info"><i class="icon fal fa-envelope"></i> Mail: <a href="mailto:{{config.EMAIL}}">{{config.EMAIL}}</a></span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 learts-mb-30">
        <div class="contact-info">
          <h4 class="title"> HOUR OF OPERATION</h4>
          <span class="info"><i class="icon fal fa-clock"></i>{{config.HOUR_OF_OPERATION|safe}}</span>
        </div>
      </div>
    </div>
    <!-- Contact Information End -->

    <!-- Contact Map Start -->
    <div class="row learts-mt-60">
      <div class="col">
        <iframe class="contact-map" src="https://maps.google.com/maps?q=Leniko%20Jewelry&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
    <!-- Contact Map End -->

  </div>
</div>
<!-- Contact Information & Map Section End -->
