{% load static %}

<ul>
  <li><a href="/"><span class="menu-text">Home</span></a>
  </li>
  <li class="has-children"><a href="/product"><span class="menu-text">Shop</span></a>
    <ul class="sub-menu mega-menu">
      <li>
        <a href="/product" class="mega-menu-title"><span class="menu-text">Material</span></a>
        <ul>
          <li><a href="/product?view=macrame"><span class="menu-text">Macrame</span></a></li>
          <li><a href="/product?view=silver925"><span class="menu-text">Silver 925</span></a></li>
          <li><a href="/product?view=brass"><span class="menu-text">Brass</span></a></li>
        </ul>
      </li>
      <li>
        <a href="/product" class="mega-menu-title"><span class="menu-text">Categories</span></a>
        <ul>
          <li><a href="/product?view=rings"><span class="menu-text">Rings</span></a></li>
          <li><a href="/product?view=earrings"><span class="menu-text">Earrings</span></a></li>
          <li><a href="/product?view=bracelets"><span class="menu-text">Bracelets</span></a></li>
          <li><a href="/product?view=necklaces"><span class="menu-text">Necklaces</span></a></li>
        </ul>
      </li>
      <li class="align-self-center">
        <!-- 242x275 -->
        <a href="/product" class="menu-banner"><img src="{% static 'img/home/menu/menu.jpg' %}" alt="Shop Menu Banner"></a>
      </li>
    </ul>
  </li>
  {% if request.user.is_superuser %}
  <li class="has-children"><a href="/product/create"><span class="menu-text"><p style="color:red;" >Work</p></span></a>
    <ul class="sub-menu">
      <li><a href="/product/create?group=Ring">    <span class="menu-text">Create Ring</span></a></li>
      <li><a href="/product/create?group=Earring"> <span class="menu-text">Create Earring</span></a></li>
      <li><a href="/product/create?group=Bracelet"><span class="menu-text">Create Bracelet</span></a></li>
      <li><a href="/product/create?group=Necklace"><span class="menu-text">Create Necklace</span></a></li>
    </ul>
  </li>
  {% endif %}
  <li><a href="/contact"><span class="menu-text">Contact</span></a>
  </li>
  <li><a href="/about"><span class="menu-text">About</span></a>
  </li>
  {% if request.user.is_superuser %}
  <li class="has-children"><a href="/dev"><span class="menu-text"><p style="color:red;" >Development</p></span></a>
    <ul class="sub-menu">
      <li><a href="/dev">        <span class="menu-text">Dev        </span></a></li>
      <li><a href="/coming-soon"><span class="menu-text">Coming soon</span></a></li>
      <li><a href="/dev/form">   <span class="menu-text">Form       </span></a></li>
      <li><a href="/dev/404">    <span class="menu-text">404        </span></a></li>
      <li><a href="/dev/500">    <span class="menu-text">500        </span></a></li>
    </ul>
  </li>
  <li><a href="/admin" target="_blank"><span class="menu-text"><p style="color:red;" >Admin</p></span></a>
  </li>
  {% endif %}
</ul>
