{% load static %}

{% load library %}

<div class="product">
  <div class="product-thumb">
    <a href="{{ obj.get_absolute_url }}" class="image">
      <span class="product-badges">
        <!--
        <span class="outofstock"><i class="fal fa-truck"></i></span>
        <span class="onsale">-13%</span>
        -->
        {% if obj.isFeatured %}
        <span class="hot"><i class="fal fa-fire"></i></span>
        {% endif %}
      </span>

      {% with photoList=obj.getPhotoList %}
      {% if photoList|length >= 1 %}
      <img src="{{photoList.0|thumbUrl:'product'}}" loading="lazy" alt="Product Image"><!-- 328x437 -->
      {% else %}
      <img src="{% static 'img/shop/placeholder_328x437.jpg' %}" alt="Product Image">
      {% endif %}

      {% if photoList|length > 1 %}
      <img class="image-hover" src="{{photoList.1|thumbUrl:'product'}}" alt="Product Zoom Image"><!-- 328x437 -->
      {% endif %}
      {% endwith %}
    </a>
    <!--
    <a href="wishlist.html" class="add-to-wishlist hintT-left" data-hint="Add to wishlist"><i class="far fa-heart"></i></a>
    -->
    {% with colorList=obj.getColorList %}
    {% if colorList|length > 0 %}
    <div class="product-options">
      <ul class="colors">
        {% for color in colorList %}
        <li style="background-color: {{color.color.value}};">{{color.color.name}}</li>
        {% endfor %}
      </ul>
      <!--
      <ul class="sizes">
        <li>Large</li>
        <li>Medium</li>
        <li>Small</li>
      </ul>
      -->
    </div>
    {% endif %}
    {% endwith %}
  </div>
  <div class="product-info">
    <h6 class="title"><a href="{{obj.get_absolute_url}}">{{obj.getTitle}}</a></h6>
    <span class="price">
      {{obj.getPrice}} &euro;
      <!--
      <span class="old">$15.00</span>
      <span class="new">$12.00</span>
      -->
    </span>
    <div class="product-buttons">
      <a href="{{obj.get_absolute_url}}" class="product-button hintT-top" data-hint="View"><i class="fal fa-eye"></i></a>
      {% if request.user.is_superuser %}
      <a href="/admin/products/product/{{obj.id}}/change/" class="product-button hintT-top" data-hint="Edit product"><i class="fal fa-pencil"></i></a>
      <a href="/admin/products/jewelry/{{obj.id}}/change/" class="product-button hintT-top" data-hint="Edit base"><i class="fal fa-pencil"></i></a>
      {% endif %}
      <!--
      <a href="#quickViewModal" data-toggle="modal" class="product-button hintT-top" data-hint="Quick View"><i class="fal fa-search"></i></a>
      <a href="#" class="product-button hintT-top" data-hint="Add to Cart"><i class="fal fa-shopping-cart"></i></a>
      <a href="#" class="product-button hintT-top" data-hint="Compare"><i class="fal fa-random"></i></a>
      <a href="#" class="product-button hintT-top" data-hint="Add variation"><i class="fal fa-plus"></i></a>
      -->
    </div>
  </div>
</div>
