{% load static %}

<!-- Product Section Start -->
<div class="section section-fluid section-padding pt-0">
  <div class="container">

    <!-- Section Title Start -->
    <div class="section-title text-center">
      <h3 class="sub-title">Shop now</h3>
      <h2 class="title title-icon-both">Shop our best-sellers</h2>
    </div>
    <!-- Section Title End -->

    <!-- Products Start -->
    <div class="products row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

      {% for obj in objList %}
      <div class="col">
        {% include './product.html' %}
      </div>
      {% endfor %}

    </div>
    <!-- Products End -->

  </div>
</div>
<!-- Product Section End -->
