{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

{% include './homebase/header.html' %}

{% for obj in objList %}
<ul>
  <li>{{obj}}</li>
  <img src="{{ obj.getPhoto.url }}" loading="lazy" width="500">
  {% thumbnail obj.getPhoto "500" padding_color="#123456" crop="center" padding=True as im %}
  <img src="{{ im.url }}" loading="lazy" width="{{ im.width }}">
  {% empty %}
  <img src="{% static 'img/shop/placeholder.jpg' %}">
  {% endthumbnail %}
</ul>
{% endfor %}

{% include './base/footer2.html' %}

{% endblock %}
