{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

{% include './homebase/header.html' %}

{% for obj in objList %}
<ul>
  <li>{{obj}}</li>
  <!--
  <img src="{{ obj.getPhoto.url }}" loading="lazy" width="328">
  -->
  {% thumbnail obj.getPhoto "328x437" padding_color="#123456" crop="center" padding=True quality=80 as im %}
  <img src="{{ im.url }}" loading="lazy" width="{{ im.width }}" heigth="{{ im.heigth }}">
  {% empty %}
  <img src="{% static 'img/shop/placeholder.jpg' %}" loading="lazy" width="{{ im.width }}" heigth="{{ im.heigth }}">
  {% endthumbnail %}
</ul>
{% endfor %}

{% include './base/footer2.html' %}

{% endblock %}
