{% extends './base.html' %}
{% load static %}
{% load library %}

{% block content %}

{% include './homebase/header.html' %}

{% for obj in objList %}
<ul>
  <li>{{obj}}</li>
  <img src="{{ obj.getPhoto|thumbUrl:'admin'     }}" loading="lazy" width="328">
  <img src="{{ obj.getPhoto|thumbUrl:'thumbnail' }}" loading="lazy" width="328">
  <img src="{{ obj.getPhoto|thumbUrl:'normal'    }}" loading="lazy" width="328">
</ul>
{% endfor %}

{% include './base/footer2.html' %}

{% endblock %}
