{% extends './base.html' %}
{% load static %}

{% block content %}

{% include './shopbase/header.html' %}

<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="{% static '/img/shop/bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="page-title">
          {% if group != None %}
          <h1 class="title">Create {{group}}</h1>
          {% else %}
          <h1 class="title">Create</h1>
          {% endif %}

          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/product">Product</a></li>
            {% if group != None %}
            <li class="breadcrumb-item"><a href="/product?group={{group|lower}}">{{group}}</a></li>
            {% endif %}
            <li class="breadcrumb-item active">Create</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

{% if group != None %}

{% if message != None %}
<div class="section section-fluid section-padding pt-0">
  <div class="container">
    <p>
      <br>
      {{message}}
    </p>
  </div>
</div>
{% endif %}


<div class="section section-fluid section-padding pt-0">
  <div class="container">

    <br>
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type='submit' value='Create new'>
    </form>

  </div>
</div>

{% else %}

<!-- Create Section Start -->
<div class="section section-fluid section-padding">
  <div class="container">
    <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 learts-mb-n30">

      <div class="col learts-mb-30">
        <div>
          <a href="/product/create?group=Ring">
            <!-- 370x370 -->
            <img src="{% static 'img/create/ring.jpg' %}" alt="">
          </a>
        </div>
      </div>

      <div class="col learts-mb-30">
        <div>
          <a href="/product/create?group=Bracelet">
            <!-- 370x370 -->
            <img src="{% static 'img/create/bracelet.jpg' %}" alt="">
          </a>
        </div>
      </div>

      <div class="col learts-mb-30">
        <div>
          <a href="/product/create?group=Earring">
            <!-- 370x370 -->
            <img src="{% static 'img/create/earring.jpg' %}" alt="">
          </a>
        </div>
      </div>

      <div class="col learts-mb-30">
        <div>
          <a href="/product/create?group=Necklace">
            <!-- 370x370 -->
            <img src="{% static 'img/create/necklace.jpg' %}" alt="">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Create Section End -->

{% endif %}

{% include './base/footer2.html' %}

{% endblock %}
