{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

{% include './shopbase/header.html' %}

<!-- Page Title/Header Start -->
<!-- 1920x381 -->
<div class="page-title-section section" data-bg-image="{% static 'img/shop/bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="page-title">
          <h1 class="title">Shop</h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/product">Products</a></li>
            <li class="breadcrumb-item active">{{obj.getTitle}}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

<!-- Single Products Section Start -->
<div class="section section-padding border-bottom">
  <div class="container">
    <div class="row learts-mb-n40">

      <!-- Product Images Start -->
      <div class="col-lg-6 col-12 learts-mb-40">
        <div class="product-images">

          <button class="product-gallery-popup hintT-left" data-hint="Click to enlarge" data-images='[

            {% for image in obj.getPhotoList %}
            {% thumbnail image.photo "810x1080" crop="center" padding=True quality=100 upscale=True as im %}
            {# 810x1080 #}
            {"src": "{{im.url}}", "w": 700, "h": 1100},
            {% endthumbnail %}
            {% endfor %}

            {# Workaround fix for escaping the last comma(,) by providing an extra image only in preview #}
            {"src": "{% static 'img/shop/generic.jpg' %}", "w": 700, "h": 1100}
            ]'><i class="far fa-expand"></i>
          </button>
          <!--
          <a href="https://www.youtube.com/watch?v=1jSsy7DtYgc" class="product-video-popup video-popup hintT-left" data-hint="Click to see video"><i class="fal fa-play"></i></a>
          -->
          <div class="product-gallery-slider">

            {% for image in obj.getPhotoList %}
            {% thumbnail image.photo "810x1080" crop="center" padding=True quality=80 upscale=True as im1 %}
            <!-- 810x1080 -->
            <div class="product-zoom" data-image="{{im1.url}}">
              {% thumbnail image.photo "570x760" crop="center" padding=True quality=80 upscale=True as im2 %}
              <!-- 570x760 -->
              <img src="{{im2.url}}" alt="">
              {% endthumbnail %}
            </div>
            {% endthumbnail %}
            {% endfor %}

          </div>
          <div class="product-thumb-slider">

            {% for image in obj.getPhotoList %}
            <div class="item">
              {% thumbnail image.photo "120x150" crop="center" padding=True quality=80 upscale=True as im %}
              <!-- 120x150 -->
              <img src="{{im.url}}" alt="">
              {% endthumbnail %}
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <!-- Product Images End -->

      <!-- Product Summery Start -->
      <div class="col-lg-6 col-12 learts-mb-40">
        <div class="product-summery">
          <div class="product-nav">
            <a href="{{obj.getPrevObject.get_absolute_url}}"><i class="fal fa-long-arrow-left"></i></a>
            <a href="{{obj.getNextObject.get_absolute_url}}"><i class="fal fa-long-arrow-right"></i></a>
          </div>
          <!--
          <div class="product-ratings">
            <span class="star-rating">
              <span class="rating-active" style="width: 100%;">ratings</span>
            </span>
            <a href="#reviews" class="review-link">(<span class="count">3</span> customer reviews)</a>
          </div>
          -->
          <h3 class="product-title">{{obj.getTitle}}</h3>
          <div class="product-price">{{obj.price|floatformat:2}} &euro;</div>
          <div class="product-description">
            <p>{{obj.getDescription}}</p>
          </div>
          <div class="product-variations">
            <table>
              <tbody>
                <!--
                <tr>
                  <td class="label"><span>Size</span></td>
                  <td class="value">
                    <div class="product-sizes">
                      <a href="#">Large</a>
                      <a href="#">Medium</a>
                      <a href="#">Small</a>
                    </div>
                  </td>
                </tr>
                -->
                <tr>
                  <td class="label"><span>Color</span></td>
                  <td class="value">
                    <div class="product-colors">
                      {% for color in obj.getColorList %}
                      <!--
                      <a href="#" data-bg-color="{{color.color.value}}"></a>
                      -->
                      <a data-bg-color="{{color.color.value}}"></a>
                      {% endfor %}
                      </div>
                  </td>
                </tr>
                <!--
                <tr>
                  <td class="label"><span>Quantity</span></td>
                  <td class="value">
                    <div class="product-quantity">
                      <span class="qty-btn minus"><i class="ti-minus"></i></span>
                      <input type="text" class="input-qty" value="1">
                      <span class="qty-btn plus"><i class="ti-plus"></i></span>
                    </div>
                  </td>
                -->
                </tr>
              </tbody>
            </table>
          </div>
          <!--
          <div class="product-buttons">
            <a href="#" class="btn btn-icon btn-outline-body btn-hover-dark hintT-top" data-hint="Add to Wishlist"><i class="fal fa-heart"></i></a>
            <a href="#" class="btn btn-dark btn-outline-hover-dark"><i class="fal fa-shopping-cart"></i> Add to Cart</a>
            <a href="#" class="btn btn-icon btn-outline-body btn-hover-dark hintT-top" data-hint="Compare"><i class="fal fa-random"></i></a>
          </div>
          -->
          <!--
          <div class="product-brands">
            <span class="title">Brands</span>
            <div class="brands">
              <a href="#"><img src="{% static 'images/brands/brand-3.png' %}" alt=""></a>
              <a href="#"><img src="{% static 'images/brands/brand-8.png' %}" alt=""></a>
            </div>
          </div>
          -->
          <div class="product-meta">
            <table>
              <tbody>
                <!--
                <tr>
                  <td class="label"><span>SKU</span></td>
                  <td class="value">{{obj.sku}}</td>
                </tr>
                <tr>
                  <td class="label"><span>Category</span></td>
                  <td class="value">
                    <ul class="product-category">
                      <li><a href="#">Kitchen</a></li>
                    </ul>
                  </td>
                </tr>
                -->
                <!--
                <tr>
                  <td class="label"><span>Tags</span></td>
                  <td class="value">
                    <ul class="product-tags">
                      <li><a href="#">handmade</a></li>
                      <li><a href="#">learts</a></li>
                      <li><a href="#">mug</a></li>
                      <li><a href="#">product</a></li>
                      <li><a href="#">learts</a></li>
                    </ul>
                  </td>
                </tr>
                -->
                <tr>
                  <td class="label"><span>Share on</span></td>
                  <td class="va">
                    <div class="product-share">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                      <a href="#"><i class="fal fa-envelope"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Product Summery End -->

    </div>
  </div>

</div>
<!-- Single Products Section End -->


<!-- Single Products Infomation Section Start -->
<div class="section section-padding border-bottom">
  <div class="container">

    <ul class="nav product-info-tab-list">
      <li><a class="active" data-toggle="tab" href="#tab-description">Description</a></li>
      <!--
      <li><a data-toggle="tab" href="#tab-pwb_tab">Brand</a></li>
      -->
      <li><a data-toggle="tab" href="#tab-additional_information">Additional information</a></li>
      <!--
      <li><a data-toggle="tab" href="#tab-reviews">Reviews (3)</a></li>
      -->
    </ul>

    <!-- Description -->
    <div class="tab-content product-infor-tab-content">
      <div class="tab-pane fade show active" id="tab-description">
        <div class="row">
          <div class="col-lg-10 col-12 mx-auto">
            <p>{{obj.getDescription}}</p>
          </div>
        </div>
      </div>

      <!-- Review -->
      <!--
      <div class="tab-pane fade" id="tab-pwb_tab">
        <div class="row learts-mb-n30">
          <div class="col-12 learts-mb-30">
            <div class="row learts-mb-n10">
              <div class="col-lg-2 col-md-3 col-12 learts-mb-10"><img src="{% static 'images/brands/brand-3.png' %}" alt=""></div>
              <div class="col learts-mb-10">
                <p>We’ve worked with numerous industries and famous fashion brands around the world. We have also created tremendous impacts on fashion manufacturing and online sales. When we partner with an eCommerce agency, we connect every activity to set the trend and win customers’ trust. We make sure our customers are always happy with our products.</p>
              </div>
            </div>
          </div>
          <div class="col-12 learts-mb-30">
            <div class="row learts-mb-n10">
              <div class="col-lg-2 col-md-3 col-12 learts-mb-10"><img src="{% static 'images/brands/brand-8.png' %}" alt=""></div>
              <div class="col learts-mb-10">
                <p>Prior to Houdini, there have been many clothing brands that achieved such a roaring success. However, there’s no other brand that can obtain such a precious position like us. We have successfully built our site to make more people know about our products as well as our motto. We’ve been the inspiration for many other small and medium-sized businesses.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->

      <!-- Additional information -->
      <div class="tab-pane fade" id="tab-additional_information">
        <div class="row">
          <div class="col-lg-8 col-md-10 col-12 mx-auto">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>

                  {% for key, value in obj.getInfo.items %}
                  <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Review -->
      <!--
      <div class="tab-pane fade" id="tab-reviews">
        <div class="product-review-wrapper">
          <span class="title">3 reviews for Cleaning Dustpan & Brush</span>
          <ul class="product-review-list">
            <li>
              <div class="product-review">
                <div class="thumb"><img src="{% static 'images/review/review-1.jpeg' %}" alt=""></div>
                <div class="content">
                  <div class="ratings">
                    <span class="star-rating">
                      <span class="rating-active" style="width: 100%;">ratings</span>
                    </span>
                  </div>
                  <div class="meta">
                    <h5 class="title">Edna Watson</h5>
                    <span class="date">November 27, 2020</span>
                  </div>
                  <p>Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="product-review">
                <div class="thumb"><img src="{% static 'images/review/review-2.jpeg' %}" alt=""></div>
                <div class="content">
                  <div class="ratings">
                    <span class="star-rating">
                      <span class="rating-active" style="width: 80%;">ratings</span>
                    </span>
                  </div>
                  <div class="meta">
                    <h5 class="title">Scott James</h5>
                    <span class="date">November 27, 2020</span>
                  </div>
                  <p>Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="product-review">
                <div class="thumb"><img src="{% static 'images/review/review-3.jpeg' %}" alt=""></div>
                <div class="content">
                  <div class="ratings">
                    <span class="star-rating">
                      <span class="rating-active" style="width: 60%;">ratings</span>
                    </span>
                  </div>
                  <div class="meta">
                    <h5 class="title">Owen Christ</h5>
                    <span class="date">November 27, 2020</span>
                  </div>
                  <p>Good Product!</p>
                </div>
              </div>
            </li>
          </ul>
          <span class="title">Add a review</span>
          <div class="review-form">
            <p class="note">Your email address will not be published. Required fields are marked *</p>
            <form action="#">
              <div class="row learts-mb-n30">
                <div class="col-md-6 col-12 learts-mb-30"><input type="text" placeholder="Name *"></div>
                <div class="col-md-6 col-12 learts-mb-30"><input type="email" placeholder="Email *"></div>
                <div class="col-12 learts-mb-10">
                  <div class="form-rating">
                    <span class="title">Your rating</span>
                    <span class="rating"><span class="star"></span></span>
                  </div>
                </div>
                <div class="col-12 learts-mb-30"><textarea placeholder="Your Review *"></textarea></div>
                <div class="col-12 text-center learts-mb-30"><button class="btn btn-dark btn-outline-hover-dark">Submit</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      -->

    </div>
  </div>
</div>
<!-- Single Products Infomation Section End -->


{# % include './base/recommendedProducts.html' % #}

{% include './base/footer2.html' %}
{% include './base/modal.html' %}


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Background of PhotoSwipe.
       It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">

    <!-- Container that holds slides.
         PhotoSwipe keeps only 3 of them in the DOM to save memory.
         Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">

      <div class="pswp__top-bar">

        <!--  Controls are self-explanatory. Order can be changed. -->

        <div class="pswp__counter"></div>

        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

        <button class="pswp__button pswp__button--share" title="Share"></button>

        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

        <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader--active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>

      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>

      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>

      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>

    </div>

  </div>

</div>

{% endblock %}
