{% extends './base.html' %}
{% load static %}

{% block content %}

{% include './shopbase/header.html' %}

<!-- Page Title/Header Start -->
<!-- 1920x381 -->
<div class="page-title-section section" data-bg-image="{% static 'img/shop/bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="page-title">
          <h1 class="title">Products</h1>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Products</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page Title/Header End -->

{% include './base/productFilters.html' %}
{% include './base/footer2.html' %}

{% include './base/modal.html' %}

{% endblock %}
